/* styles.css */

body {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Helvetica, sans-serif, Arial;
    height: 100vh;
    margin: 0;
    background-color: #1C1C1C;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1C1C;
    padding: 32px;
    border-bottom:#b33c3c;
    border-width: 1px; /* why Cant I see the border => debug later */
    font-weight: 600;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.navbar-right {
    display: flex;
    gap: 8px;



} 

.button-primary {
    
    border-radius: 6px;
    border-color: #3FCF8E; /*same color but with no opacity */
    background-color: #3FCF8E;
    /* come back here and check this */
    color: white;
    padding: 9px 14px 9px;
    font-size: 16px;
    color: #1C1C1C;
    font-weight: 600;
}

.button-secondary {
    border-radius: 6px;
    border-color:#3E3E3E ;
    background-color: #2E2E2E;
    color: #EDEDED;
    padding: 9px 14px 9px;
    font-size: 16px;
    font-weight: 600;
}

a { 
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 16px;
    align-items: center;
    gap: 16px;
}

.logo {
    height: 35px;
    width: 200px;
}


.padding-global {
    padding-left: 4rem;
    padding-right: 4rem;
}


.header {
    display: flex;
    gap: 80px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.hero-text {

}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    color: #B3B3B3;
}

h2 {
    font-size: 2rem;
    color: white;

}

.cards-wrapper {
    display: flex;
    flex-direction:row;
    justify-content: left;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {

}

.quote {
    font-size: 26px;
    color: white;
    font-style: italic;
    margin: 4rem;
}

.quote-wrapper {
    margin-top: 90px;
    margin-bottom: 90px;
}

.comment-section {
    background-color: #232323;
    padding: 20px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    border-radius: 8px;
    border-color: #2E2E2E;
    border-width: 1px;

}

.text-wrapper {
    padding: 32px;
}

.footer {
    background-color: #161616;
    padding: 16px;
    text-align: center;
}